body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
	background-color: #c3bfbe;	
	color: #3c3c3c;
	font-family: 'Open Sans', sans-serif;
	font-size: 80%;
}

h2 {
	color: #42799D;	
}

a, a#email {
	text-decoration: none;
	font-weight: 100;
}

a {
	font-weight: bold;	
}

a:focus {
	outline: none;
}

ul.dot {
	padding: 0px 0px 0px 20px;
	font-weight: bold;
	list-style: url(../images/dot.jpg); 	
}

a:link {color: #3c3c3c;}      /* unvisited link */
a:visited {color: #3c3c3c;}  /* visited link */
a:hover {color: #FFF;}  /* mouse over link */
a:active {color: #3c3c3c;}  /* selected link */ 

h4.heading a:link {color: #42799d;}      /* unvisited link */
h4.heading a:visited {color: #42799d;}  /* visited link */
h4.heading a:hover {color: #34a1c0;}  /* mouse over link */
h4.heading a:active {color: #42799d;}  /* selected link */