@charset "UTF-8";
$theme-prefix: "qtt-";

@import "welcome-page";
@import "ocdi";

.#{$theme-prefix}notice {
	&__form {
		position: relative;
		.button {
			position: absolute;
			right: 0;
			top: 8px;
		}
	}
}